<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" android:required="false"/>

    <application
        android:label="View to Donate"
        android:icon="@mipmap/ic_launcher"> <!-- Removed android:name attribute -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Meta-data for Flutter Plugin Registrant -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- AdMob Configuration -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6158090375855987~6571869206"/>

        <!-- Vungle (Liftoff) SDK Configuration -->
        <meta-data
            android:name="com.vungle.sdk.loglevel"
            android:value="debug"/>
        <activity
            android:name="com.vungle.warren.ui.VungleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <meta-data
            android:name="com.vungle.sdk.vungleAppId"
            android:value="66db26b5655237cdd139c727 "/>

        <meta-data
            android:name="unity_game_id"
            android:value="5705540" />

    </application>

    <!-- Required for Package Visibility (Android 11 and above) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
